* {
  margin: 0;
  padding: 0;
}

body {
  background-color: sandybrown;
}

header, footer {
  background-color: saddlebrown;
  padding: 1rem;
  color:mintcream;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
  font-weight: lighter;
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
  color:rgb(40, 23, 4);
  padding: 1%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parent {
  padding: 2rem;
  text-align: center;
}

.child{
  display: inline-block;
  padding: 1rem;
  width: 30%;
  border: 1px solid black;
  margin: 2rem;
}

.leftAL {
  text-align: right;
}
.rightAL {
  text-align: left;
}