*{
  padding: 0;
  margin:0;
}
body{
  background-color: rgb(171, 171, 171);
}

header {
  background-color: rgb(48, 48, 48);
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo a {
  color:white;
  text-decoration: none;
  text-align: center;
  margin: 1rem;
  background: red;
}

.logo {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  font-size: larger;
  width: 25%;
  margin:auto;
  text-align: center;
}

.logo a:hover{
  color:rgb(0, 179, 255);
  font-weight: bold;
}

.hamburger{
  margin: 1rem;
  display: inline-block;
  vertical-align: middle;
  background-color: purple;
}

.hamburger:hover {
  background-color: rgb(137, 238, 238);
}



picture img {
  display: block;
  width: 75%;
  margin: 0 auto;
}

footer {
  width: 100%;
  background-color: rgb(0, 157, 255);
  display: flex;
  list-style-type: none;
}

footer ul {
  list-style-type: none;
}

.closed {
  font-family: sans-serif;
  font-weight: bolder;
  color: red;
}

.open {
  font-family: sans-serif;
  font-weight: bolder;
  color: green;
  text-decoration: none;
}

.open:hover{
  color: lime;
}